<div class="list" id="{{elementId}}__wrap">
  {{error-tooltip target=(concat '#' elementId '__wrap') visible=hasError}}
  {{#if (is-pending allOrgs)}}
    <div class="loading-spinner"></div>
  {{/if}}
  {{#if (is-fulfilled allOrgs)}}
    {{#power-select
      options=allOrgs
      disabled=hasError
      selected=(await selected)
      searchField=searchField
      searchPlaceholder="Type here to search"
      placeholder="Select an organization"
      onchange=(action 'select')
      searchEnabled=(await willEnableSearch)
      as |org|}}
        <img src={{org.avatar_url}}>
        <span class="name">{{org.name}}</span>
    {{/power-select}}
    <small class="quick-help">
      Missing an organization?
      <a target="_blank" href="https://github.com/settings/connections/applications/{{clientId}}">
        Check the authorizations
      </a>
    </small>
  {{/if}}
</div>
